/* ============= BCB Design System — Molecules / Card Link ============= */

/* LISTALINKS */
.bcb-listalinks .buffer a { height: 3rem; }
.bcb-listalinks .buffer .texto { font-size: 0.9rem; line-height: 1.1; background-color: var(--bcb-gray-100); padding: 5px 10px; transition: background-color 0.3s, box-shadow 0.3s; }
.bcb-listalinks .buffer a:hover .texto { background-color: var(--bcb-gray-200); }
.bcb-listalinks .buffer .icone { width: 3rem; min-width: 3rem; }

/* ==========================================
   CARDS DE CONTEÚDO (LISTALINKS-LIGHT)
   ========================================== */
.listalinks-light { display: block; }
.listalinks-light .title { font-weight: 500; }
.listalinks-light a { text-decoration: none; color: inherit; }
.listalinks-light a:hover .title { text-decoration: underline; }
.listalinks-light .icon-container { width: 85px; flex: none; }
.listalinks-light .description { color: var(--bcb-gray-600); font-size: 0.9rem; line-height: 1.2; display: block; margin-top: 4px; }

/* Efeito de Sombra e Escala (Modelos 1 e 5) */
.listalinks-light.modelo-1 a, .listalinks-light.modelo-5 a {
    box-shadow: var(--bcb-shadow-100);
    transition: all .2s ease-in-out;
    background-color: var(--bcb-color-white);
}
.listalinks-light.modelo-1 a:hover, .listalinks-light.modelo-5 a:hover {
    box-shadow: var(--bcb-shadow-300);
    transform: translateY(-2px);
}
.listalinks-light.modelo-1 a:hover .title, .listalinks-light.modelo-5 a:hover .title {
    text-decoration: none;
}

/* Ajustes Específicos por Modelo */
.listalinks-light.modelo-1 .icon-container { background-color: var(--bcb-gray-100); }
.listalinks-light.modelo-2 .item-card { border-bottom: 1px solid var(--bcb-gray-200); padding: 1rem 0; }
.listalinks-light.modelo-5 .icon-container { width: auto; margin-bottom: 1rem; }
.listalinks-light.modelo-5 a { background-color: var(--bcb-gray-50); padding: 1.5rem; text-align: center; }
