/* ============= BCB Design System — Organisms / Footer ============= */

/* FOOTER */
footer[role=contentinfo] { display: block; position: relative; border-top: 1px solid #e9ecef; background-color: #f9f9f9; margin-top: 30px; font-size: 0.9rem; }
footer[role=contentinfo] .m, footer[role=contentinfo] .t { border-bottom: 1px solid #e9ecef; }
footer[role=contentinfo] .m > .container, footer[role=contentinfo] .t > .container { padding-top: 25px; padding-bottom: 25px; }
footer[role=contentinfo] .redes-sociais { display: flex; flex-wrap: wrap; flex-direction: row; align-items: center; justify-content: center; gap: 10px; }
footer[role=contentinfo] .redes-sociais li { display: flex; width: 30px; height: 30px; background: var(--bcb-brand-blue); border-radius: 50%; }
footer[role=contentinfo] .redes-sociais li a { display: flex; flex-grow: 1; align-items: center; justify-content: center; transition: transform .3s ease; color: white; text-decoration: none; font-size: 14px; font-weight: bold; }
footer[role=contentinfo] .redes-sociais li a:hover { transform: scale(1.1) translateY(-2px); }
footer[role=contentinfo] .missao { max-width: 550px; font-style: italic; }
footer[role=contentinfo] .info li:not(:last-child):after { content: "|"; display: inline-block; margin-left: 7px; color: #ccc; }
footer[role=contentinfo] .arts { position: relative; }
footer[role=contentinfo] .arts .line { display: block; width: 0; height: 85px; border-right: 1px solid #e9ecef; transform: rotate(-45deg); right: 36px; top: -13px; z-index: 2; position: absolute; }
